.btn-group {
  width: 100%
}

button {
  border-radius: 0;
  border: 1px solid #e6e6e6;
  width: 100%;
  color: #93969b;
  padding-left: 20px;
  text-align: left;
  font-size: 14px;
  height: 40px;
}

.caret {
  background: url("/assets/dropdown-caret.png");
  border: none;
  width: 12px;
  height: 8px;
  float: right;
  margin-top: 5px;
}

.dropdown-menu {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border-radius: 0 !important;
}

.dropdown-menu > li > a {
  cursor: pointer;
}
