<div class="container">
  <div class="row card-header">
  <p class="col-3">Купон</p>
  <p class="col-9"> Информация о купоне</p>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card-body" style=" height:25em; width: 45em;">
        <img class="card-img-top" src="" alt="Card image cap">
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="card-body" style=" height:25em; width: 45em;">
          <img class="card-img-top" src="" alt="Card image cap">
          <hr>
          <div class="completer-row">
            lalalalalallalalalalalalalal
            lalalalalallalalalalalalalallalalalalallalalalalalalalal
            lalalalalallalalalalalalalal
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
