<div class="card-header centers"><h3>Заказы</h3></div>

<div class="card" *ngFor="let order of vkOrders">

  <div class="container-fluid">
    <div class="row">
      <div class="col-3"><img [src]="order?.image" style="width: 200px; height: 200px; object-fit: cover"/></div>
      <div class="col-6">
        <h1><span class="badge badge-primary">{{order?.status}}</span></h1>

        <div class="row">
          <div class="col-3">
            <p>Отправитель:</p>
            {{getUserInfo(order.vk_customer_id)}}
          </div>
          <div class="col-3">
            <p>
              Получатель:
            </p>
            {{getUserInfo(order.vk_reciever_id)}}
          </div>
        </div>
      </div>


      <div class="col-3">
        <div class="row">
          <div class="col-sm-5">
            <button class="btn btn-primary align-middle"
                    style="cursor: pointer;" (click)="acceptOrder(order)">
              Принять
            </button>
          </div>
          <div class="col-sm-5">
            <button class="btn btn-secondary align-middle" style="cursor: pointer;"
                    (click)="declineOrder(order)">
              Отклонить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
